<template>
  <div :id="id" style="height: 90%; width: 95%; left: 2.5%; position: relative" class="leafletMap">
    <div style="display: grid">
      <span>Título do painel</span>

      <el-dropdown @command="handleCommand">
      <span class="el-dropdown-link">
        Ações<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item icon="el-icon-more" command="showDetail">Detalhar</el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>

    </div>
    <div
        class="leafletMap"
        ref="leafletMap">
    </div>
  </div>

    <el-dialog
        title="Mapa Leaflet"
        v-model="mapDialogVisible"
        width="30%">
      <div style="display: grid">
        <span>ID: {{id}}</span>
        <span>Detalhes do mapa: ...</span>
        <span>Editar: ...</span>
        <span>Datasources: ...</span>
        <span>Basemap: ...</span>
      </div>
      <template #footer>
    <span class="dialog-footer">
      <el-button @click="mapDialogVisible = false">Voltar</el-button>
    </span>
      </template>
    </el-dialog>
</template>
<script>

import { inject, nextTick, onMounted, ref } from 'vue'
import { v4 as uuidv4 } from 'uuid'

export default {
  name: 'leafletMap',
  emits: ['ready'],
  setup (props, { emit }) {
    const store = inject('store')

    /**
     * --------------------------------------------------------------
     * Rotina  responsável pela
     * de criação de mapas do LEAFLET
     * --------------------------------------------------------------
     * */

    const leafletMap = ref(null)
    const mapInstance = ref(null)
    const id = ref(uuidv4())

    onMounted(() => {
      nextTick(() => {
        const leafletInstance = store.getStatic('leafletInstance')
        mapInstance.value = leafletInstance.map(leafletMap.value)
        mapInstance.value.setView([-15.780360118526076, -47.779541015625], 40)
        leafletInstance.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', { foo: 'bar', attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' })
          .addTo(mapInstance.value)
        emit('ready', {
          mapInstance: mapInstance.value,
          id,
          el: document.getElementById('leafletElement')
        })
      })
    })

    const mapDialogVisible = ref(false)
    const handleCommand = (event) => {
      if (event === 'showDetail') {
        mapDialogVisible.value = true
      }
    }
    return {
      store,
      leafletMap,
      mapInstance,
      id,
      mapDialogVisible,
      handleCommand
    }
  }
}
</script>

<style scoped>
.leafletMap {
  z-index: 20;
  width: 100%;
  height: 100%;
}
</style>
