<template>
  <div style="display: grid">

    <span style="font-size: 50px; padding-top: 20px">GISGESTAO VUE 3.0</span>
    <span style="font-size: 50px; padding-top: 20px">MAPAS</span>
    <el-button @click="increment">ChangeStateValue</el-button>
    <el-button @click="gotoDetail">Detail</el-button>
    <el-button @click="changeExtent">extent</el-button>
    <h1>{{store.get('loggedUser')}}</h1>
  </div>
  <div class="grid-stack"></div>

  <!--  LEAFTLET MAPS  -->
  <div v-for="(leafletVueComponent,index) in leafletVueComponents" :id="leafletVueComponent.id" :key="index" class="grid-stack-item" :ref="el => { leafletMapsGrid[index] = el }">
    <div class="panel grid-stack-item-content">
      <component
          :ref="el => { vue[index] = el }"
          :is="leafletVueComponent"
          @ready="onReadyComponent"
       >
      </component>
    </div>
  </div>

  <!--  ARCGIS MAPS  -->
  <el-progress v-if="showProgressBar" :percentage="mapBuildPercentage" :status="mapBuildPercentageStatus">
    <template #default="{ percentage }">
      <div style="display: grid">
        <span>{{ percentage }}%</span>
      </div>
    </template>
  </el-progress>
  <div style="padding-top: 30px; padding-bottom: 20px">
    <span style="font-size: 30px">ArcGIS</span>
    <span>{{maps.length}}</span>
    <div class="arcgisMaps">
      <div
          v-for="(map,index) in maps.length" :key="index"
          :ref="el => { esriMap[index] = el }"
          class="map"
      >
      </div>
    </div>
  </div>

  <span style="font-size: 30px">Gráficos</span>
  <div class="graphics">
    <vue3-chart-js
        style="cursor: pointer"
        v-if="canvasData"
        ref="favoriteWeaponChart"
        id="polarArea"
        type="polarArea"
        :data="canvasData.data"
        :options="canvasData.options"
    ></vue3-chart-js>
    <vue3-chart-js
        style="cursor: pointer"
        v-if="canvasData"
        ref="favoriteWeaponChart"
        id="barChart"
        type="bar"
        :data="canvasData.data"
        :options="canvasData.options"
    ></vue3-chart-js>
    <vue3-chart-js
        style="cursor: pointer"
        v-if="canvasData"
        ref="favoriteWeaponChart"
        id="lineChart"
        type="line"
        :data="canvasData.data"
        :options="canvasData.options"
    ></vue3-chart-js>
    <vue3-chart-js
        style="cursor: pointer"
        v-if="canvasData"
        ref="favoriteWeaponChart"
        id="bubbleChart"
        type="bubble"
        :data="canvasData.data"
        :options="canvasData.options"
    ></vue3-chart-js>
    <vue3-chart-js
        style="cursor: pointer"
        v-if="canvasData"
        ref="favoriteWeaponChart"
        id="radarChart"
        type="radar"
        :data="canvasData.data"
        :options="canvasData.options"
    ></vue3-chart-js>
  </div>
</template>

<script>

import { inject, onMounted, nextTick, reactive, ref } from 'vue'
import router from '@/router'

/* Gráficos */
import Vue3ChartJs from '@j-t-mcc/vue3-chartjs'

/* GRID STACK */
import 'gridstack/dist/gridstack.min.css'
import { GridStack } from 'gridstack'
import 'gridstack/dist/h5/gridstack-dd-native'

export default {
  name: 'MapViewer',
  components: {
    Vue3ChartJs
    /* LMap,
    LTileLayer */
  },
  setup () {
    const store = inject('store')

    /**
     * --------------------------------------------------------------
     *  Rotina responsável por manipular state da aplicação
     * --------------------------------------------------------------
     * */
    const increment = () => {
      const currentValue = store.get('loggedUser')
      store.set('loggedUser', currentValue + 20)
    }
    const gotoDetail = () => {
      router.push({ name: 'detail' })
    }

    /**
     * --------------------------------------------------------------
     *  Rotina responsável pela
     *    de criação de mapas ARCGIS e suas respectivas features
     * --------------------------------------------------------------
     * */
    const esriMap = reactive([])
    const showProgressBar = ref(true)
    const mapBuildPercentage = ref(0)
    const mapBuildPercentageStatus = ref('')
    let maps = store.getStatic('mapInstances').length ? store.getStatic('mapInstances') : reactive([])
    // Método que troca o level de zoom do mapa
    const changeExtent = () => {
      maps[0].zoom = maps[0].zoom + 1
    }
    // Ciclo de vida mounted, verifica se os mapas foram construídos anteriormente, se foram, só renderiza o elemento
    // que veio função de callback na DIV, caso contrário constrói 5 novos mapas
    onMounted(() => {
      const newMaps = []
      /**
       * Método de callback da função buildMaps na store, método é chamado
       * cada vez que uma instância de mapa é construída
       * @param {Object} mapInstance - Instância de mapa Arcgis
       * @param {Number} currentMapIndex - Index do mapa atual construído
       * @param {Number} numberOfMaps - Número total de mapas a ser construído
       */
      const onBuildMapCallBack = (mapInstance, currentMapIndex, numberOfMaps) => {
        mapBuildPercentage.value = parseInt(((currentMapIndex + 1) / numberOfMaps * 100).toFixed(2))
        store.setStatic('mapInstances', mapInstance, false)
        newMaps.push(mapInstance)
        if (mapBuildPercentage.value === 100) {
          mapBuildPercentageStatus.value = 'success'
          maps = newMaps
          newMaps.forEach((newMap, i) => {
            nextTick(() => {
              newMap.container = esriMap[i]
            })
          })
        }
      }
      if (!maps.length) {
        // Caso os mapas não tenham sido construídos anteriormente
        maps.push(1, 2, 3, 4, 5)
        store.buildMaps(5, onBuildMapCallBack)
      } else {
        showProgressBar.value = false
        for (const [i, arcgisMap] of Object.entries(maps)) {
          nextTick(() => {
            arcgisMap.container = esriMap[i]
          })
        }
      }
    })

    /**
     * --------------------------------------------------------------
     * Rotina responsável pela criação de gráficos
     * --------------------------------------------------------------
     * */
    const graphicValue = store.get('graphicValue')
    const canvasData = reactive({
      options: {
        onClick: () => {}
      },
      data: {
        labels: ['Dado1', 'Dado2', 'Dado3', 'Dado4', 'Dado5'],
        datasets: [
          {
            backgroundColor: [
              '#41B883',
              '#E46651',
              '#00D8FF',
              '#DD1B16'
            ],
            data: (store.get('graphicValue') && store.get('graphicValue')[0]) ? store.get('graphicValue')[0].map(value => value.ds_145618207_s_0) : []
          }
        ]
      }
    })

    /**
     * --------------------------------------------------------------
     * Rotina  responsável pela
     * de criação de mapas do LEAFLET
     * --------------------------------------------------------------
     * */
    const leafletMaps = reactive([])
    const leafletMapsGrid = reactive([])
    const leafletVueComponents = store.getStatic('leafletVueComponents')
    let grid = reactive({})
    const vue = reactive([])
    const onReadyComponent = (event) => {
      nextTick(() => {
        event.mapInstance.invalidateSize()
      })
    }
    onMounted(() => {
      nextTick(() => {
        grid = GridStack.init({ float: true })
        for (const leafletMapGrid of leafletMapsGrid) {
          // TODO Forma estranha de buscar o ID do painel, possívelmente vá gerar gerar BUGS!! tentar nova abordagem quando possível
          grid.addWidget(leafletMapGrid, { w: 3, h: 3, id: leafletMapGrid.children[0].children[0].id })
        }

        grid.on('change', (event) => {
          const vueInstanceIds = event.detail.map(detail => detail.id)
          if (Array.isArray(vueInstanceIds) && vueInstanceIds.length){
            vueInstanceIds.forEach(vueInstanceId => {
              const vueInstance = vue.find(v => v.id === vueInstanceId)
              if (vueInstance && vueInstance.mapInstance) {
                vueInstance.mapInstance.invalidateSize()
              }
            })
          }
        })
      })
    })

    return {
      esriMap,
      maps,
      canvasData,
      state: store.state,
      store: store,
      gotoDetail,
      increment,
      changeExtent,
      mapBuildPercentage,
      mapBuildPercentageStatus,
      showProgressBar,
      leafletMaps,
      leafletMapsGrid,
      leafletVueComponents,
      onReadyComponent,
      vue
    }
  }
}
</script>

<style>
.panel {
  border: lightgrey solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: hidden;
}
.arcgisMaps {
  display: flex;
}
.map {
  width: 400px;
  height: 600px;
}
.graphics {
  display: flex;
  width: 15%;
  padding-top: 30px;
}
</style>
