
<template>
  <span>detail</span>
  <h2>{{state.loggedUser}}</h2>
</template>

<script>

import { inject } from 'vue'

export default {
  name: 'detail',
  setup (props) {
    const store = inject('store')
    return {
      state: store.state
    }
  }
}
</script>

<style scoped>
a {
  color: #42b983;
}
</style>
