<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/mapViewer">MapViewer</router-link>
  </div>
  <router-view />
</template>

<script>
import 'leaflet/dist/leaflet.css'
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
